/* home.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Section Styles */
  section {
    padding: 50px;
    text-align: center;
  }
  
  /* Header Styles */
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .homeImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .homeImage:hover {
    transform: scale(1.1);
  }
  
  .homeButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    background-color: #45aed2;
    color: #fff;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .homeButton:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .homeButton svg {
    margin-left: 10px;
  }
  
  /* Article Styles */
  .home {
    max-width: 800px;
    max-height: 100vh
    margin: 0 auto;
  }
  
  .fade_In {
    animation: fadeInAnimation 1s;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .homeParagraph {
    font-size: 16px;
    line-height: 1.6;
    color: #c0bfbf;
    text-align: left;
  }
