    /* navbar */
    header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--background-color);
        padding: 1% 0%;
      }
      
      .nav-item {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      .nav-link-item {
        list-style: none;
        display: inline-block;
        padding: 0 20px;
      }
      
      .nav-link-item a {
        display: block;
        padding: 8px;
        text-decoration: none;
        color: var(--link-color);
      }
      
      .nav-link-item a:hover {
        text-decoration: underline;
        color: var(--link-hover-color);
      }
      