

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding: 1% 0%;
    bottom: 0;
    height: 50px;
    width: 100%;
    color: var(--link-color);
}

.icon{
    margin : 5px;
}

